.formContainer {
  width: 50rem;
  display: flex;
  justify-content: center;
}
.formItems {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formItems input {
  height: 40px;
  width: 200px;
}

.formItems select {
  width: 200px;
  height: 40px;
}

.formItems textarea {
  width: 420px;
}

.inputSection {
  display: grid;
  grid-template-columns: 1.1fr 1fr;
}

.btnContainer {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.addBtn {
  width: 100px;
  height: 35px;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: rgb(0, 189, 32);
  transition:
    border ease-out 0.5s,
    background-color ease-out 0.5s;
}

.addBtn:hover {
  background-color: rgb(1, 128, 22);
  border: 2px solid rgb(0, 101, 17);
}
