.formContainer {
  width: 50rem;
  display: flex;
  justify-content: center;
}
.formItems {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formItems input {
  height: 40px;
  width: 200px;
}

.formItems select {
  width: 100px;
  height: 40px;
}

.formItems textarea {
  width: 420px;
}

.inputSection {
  display: grid;
  grid-template-columns: 1.1fr 1fr;
}

.btnContainer {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.addBtn {
  width: 100px;
  height: 35px;
  font-weight: 500;
  border: 3px solid rgb(0, 106, 255);
  border-radius: 5px;
  background-color: rgb(57, 140, 255);
}

.addBtn:hover {
  background-color: rgb(0, 83, 199);
  border: 3px solid rgb(0, 48, 116);
}
