body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: scroll;
  background: url(https://cdn.wallpaper.com/main/himitsu.jpg) no-repeat;
  background-size: cover;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}

label {
  color: black;
}

.Container404 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: black;
}

.Title404 {
  font-size: 10rem;
  width: 300px;
  font-weight: 800;
  display: flex;
  justify-content: center;
}

.Message404 {
  display: flex;
  justify-content: center;
  width: 300px;
}

.GoHome404 {
  display: flex;
  justify-content: center;
}

.Home404 {
  margin-left: 5px;
  text-decoration: underline;
  cursor: pointer;
}

.Home404:hover {
  color: rgb(0, 115, 255);
}
